.buttonContainer{
	width:100%;
	height:65%;
	display:block;
	float:left;

	@include breakpoint(phone) { 
		height:80%;
	};

	.button{
		width:50%;
		height:50%;
		display:inline-block;
		float:left;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		@include breakpoint(phone) { 
			height:25%;
			width:100%;
		};
		@include opacity(1);
		@include trans(opacity, 400ms, ease-in-out);

		&.hidden{
			@include opacity(0);
		}

		.content{
			width: 50%;
			height: 32.5%;
			position: absolute;

			@include trans(opacity, 200ms, ease-in);

			@include breakpoint(phone) { 
				height:20%;
				width:100%;
			};

			&.backing15{
				background-color:black;
				pointer-events:none;
				@include opacity(0.15);
			}

			&.backing25{
				background-color:black;
				pointer-events:none;
				@include opacity(0.25);
			}

			&.backing35{
				background-color:black;
				pointer-events:none;
				@include opacity(0.35);
			}

			&.backing40{
				background-color:black;
				pointer-events:none;
				@include opacity(0.4);
			}

			&.blurb{
				pointer-events:none;
				@include opacity(1);
			}

			&.password{
				pointer-events:none;
				@include opacity(0);
			}
		}

		&:hover{

			.backing15, .backing25, .backing35, .backing40{
				background-color:$navy;
				@include opacity(0.8);
			}

			.blurb{
				@include opacity(0);
			}

			.password{
				@include opacity(1);
			}

		}
	}
}