@mixin breakpoint($point) {
  @if $point == widescreen {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 650px)  { @content; }
  }
}

@mixin circle($width) {
  width: $width;
  height: $width;
  @include border-radius($width/2)
}

@mixin trans($property, $duration, $timingFunc) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($timingFunc);
}