@mixin breakpoint($point) {
  @if $point == widescreen {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 650px)  { @content; }
  }
}

@mixin circle($width) {
  width: $width;
  height: $width;
  @include border-radius($width/2)
}

@mixin triangle($width, $color) {
  width: 0; 
  height: 0; 
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  border-top: $width solid $color;
}

@mixin triangleRight {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid white;
}

@mixin trans($property, $duration, $timingFunc) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($timingFunc);
}