@import "normalize";
@import "compass";
@import "variables";
@import "customMixins";
@import "compass/css3";
@import "fonts";

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    @include trans(all, 800ms, ease-in-out);

	&.scrollLocked{
		position: fixed;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}
}

a {
	display:block;
	position:relative;
	text-decoration:none;
	pointer-events:auto;

	&.theyAreLink{
		height: 80px;
	}
}

input{
	@include border-radius(0px);

	&:focus{
		outline: none;
	}
}

input[type="submit"]{
	visibility:hidden;
	position:absolute;
	pointer-events:none;
}

h1{
	font-family:"Neuzeit Grotesk T Light";
	font-size: 49px;
	line-height: 70px;
	font-weight:lighter;

	@include breakpoint(phone) { 
		font-size: 30px;
		line-height: 45px;
	};
}

h2{
	font-family:"Neuzeit Grotesk T Light";
	font-size: 58px;
	line-height: 34px;
	font-weight:lighter;
	line-height:70px;
	margin:0px;
}

h3{
	font-family:"Neuzeit Grotesk T Light";
	font-size: 20px;
	line-height: 44px;
}

h4{
	font-family:"Neuzeit Grotesk T Black";
	font-size: 16px;
	font-weight:lighter;
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0 0 10px 0;

	@include breakpoint(phone) { 
		font-size: 13px;
	};
}

h5{
	font-family:"Neuzeit Grotesk T Light";
	font-size: 20px;
	font-weight:lighter;
	margin:0;
	letter-spacing:1px;

	@include breakpoint(phone) { 
		font-size: 17px;
	};
}

h6{
	font-family:"Georgia";
	font-size: 16px;
	font-weight:lighter;
	margin:0;
	letter-spacing:1px;
	line-height: 24px;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

@-webkit-keyframes pulsing {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@-moz-keyframes pulsing {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@-o-keyframes pulsing {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}
@keyframes pulsing {
  0%   { opacity: 0.2; }
  100% { opacity: 1; }
}

#container {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	min-height:600px;

	@import "navDesktop";

	#background {
		width:100%;
		height:100%;
		position:fixed;
		z-index:0;
		@include breakpoint(phone) { 
			display:none;
		};

		&.panelTwo{
			background: url('../img/background.jpg') left 25% no-repeat;

			background-size: cover;

			@include breakpoint(phone) { 
				background: none;
			}
		}

		&.panelFour{
			//background: url("../img/backgroundBuilding.jpg") left 50%;
			background: url('../img/backgroundTheyAre.jpg') left center no-repeat;

			background-size: cover;

			@include breakpoint(phone) { 
				background: none;
			}
		}

		&.active{
			z-index:1;
		}
	}

	.panel{
		height:100%;
		width:100%;
		display:block;
		position:relative;
		float:left;
		z-index:2;
		overflow: hidden;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0px, 0px, 0px);

		.introParallax{
			position:absolute;
			
			@include breakpoint(phone) { 
				display:none;
			};

			&.introTrans{
				@include trans(all, 1200ms, ease-in-out);
			}

			&.one{
				background: url("../img/backgroundIntro1blue.jpg");
				background-size:cover;
				@include opacity(0.9);
				height:120%;
				@include transform(translate(0%, -15%));
				transform-style: preserve-3d;
				-webkit-transform-style: preserve-3d;

				@include breakpoint(phone) {
					background: none;
				}
			}

			&.two{
				background: url("../img/backgroundIntro2blue.jpg");
				background-size:cover;
				@include opacity(0.7);
				height:110%;
				@include transform(translate(0%, -5%));
				//box-shadow: rgba(0, 0, 0, 0.8) 0px -100px 100px -90px inset;
				transform-style: preserve-3d;
				-webkit-transform-style: preserve-3d;

				@include breakpoint(phone) { 
					background: none;
				}
			}

			&.hidden{
				@include opacity(0);
				@include transform(translate(0%, 0%));

				@include breakpoint(phone) { 
					@include opacity(1);
				}
			}
		}

		.backing{
			width:50%;
			height:100%;
			position:absolute;
			background-color:$navy;
			@include opacity(0.8);
			float:left;

			@include breakpoint(phone) { 
				width:100%;
				height:30%;
			};

			&.right{
				@include opacity(0.95);
				right:0%;
				@include breakpoint(phone) { 
					width:100%;
					height:70%;
					top:30%;
				}
			}
		}

		.panelSplit{
			height:inherit;
			width:50%;
			float:left;
			display:inline-block;

			@include breakpoint(phone) { 
				width:100%;
				height:30%;
			}


			&.right{
				@include breakpoint(phone) { 
					width:100%;
					height:70%;
				}
			}
		}

		.lasso{
			display:inline-block;
			position:relative;
			top: 50%;
			@include transform(translateY(-50%));
			pointer-events: none;
			z-index: 3;
			@include opacity(1);
			-webkit-backface-visibility: hidden;

			&.introTrans{
				@include trans(all, 800ms, ease-in-out);
			}

			&.hidden{
				top:48%;
				@include opacity(0);

				@include breakpoint(phone) { 
					@include opacity(1);
					top:50%;
				}
			}

			&.eighty{
				width:80%;
				margin:0 10%;
			}

			&.fifty{
				width:50%;
				margin:0 25%;

				@include breakpoint(phone) { 
					width:80%;
					margin:0 10%;
				}

				&.intro{
					@include breakpoint(phone) { 
						margin-top: 5%;
					}
				}
			}

			&.seventyFive{
				width:80%;
				margin:0 0 0 20%;

				@include breakpoint(phone) { 
					width:90%;
					margin:0 5% 0 5%;
				}
			}

			&.forty{
				width:40%;
				margin:0 30%;
				
				@include breakpoint(phone) { 
					width:70%;
					margin:0 15%;
				}
			}

			&.centered{
				text-align: center;
			}

			&.pointer{
				pointer-events:auto;
			}
		}

		&#intro{
			background-color: $teal;
			color: $navy;
			//@include breakpoint(phone) { background-color:pink; };

			&.hidden{
				visibility: hidden;
			}

			#logo{
				background: url('../img/logo.png') no-repeat center center;
				width:10%;
				height:50px;
				background-size:contain;
				display: inline-block;
				position: absolute;
				top: 10%;
				left:45%;
				@include breakpoint(phone) { display:none; };
				z-index:3;
				-webkit-backface-visibility: hidden;
				-webkit-transform-style: preserve-3d;

				@include trans(all, 1500ms, ease-in-out);

				&.loading{
					top:50%;
					@include transform(translateY(-50%));
				}

				&.pulsing{
					-webkit-animation: pulsing 1.6s infinite alternate; /* Safari 4+ */
					-moz-animation:    pulsing 1.6s infinite alternate; /* Fx 5+ */
					-o-animation:      pulsing 1.6s infinite alternate; /* Opera 12+ */
					animation:         pulsing 1.6s infinite alternate; /* IE 10+ */
				}
			}

		}

		&#believe{
			background-color: transparent;
			color: $navy;
			//@include box-shadow(rgba(black, 0.8) 0px -100px 100px -90px inset);
			min-height: 450px;
			@include background(linear-gradient(center left, rgba(255,255,255,0.7), rgba(255,204,204,0.7)));
			
			@include breakpoint(phone) { 
				@include background(linear-gradient(center left, #FFFFFF, #FFCCCC));
				height: 80%;
			};
		}

		&#theyare{
			//background: url("../img/backgroundBuilding.jpg") left 50%;
			background-color: transparent;

			//background-size:cover;
			color: white;

			@include breakpoint(phone) { 
				background:white;
				height: 800px;
			};

			a {
				color:white;
				@include trans(all, 400ms, ease-in-out);
				@include opacity(1);

				.selector{
					@include trans(all, 200ms, ease-in-out);
					float:left;
					margin-top: 5px;
					margin-right: 20px;
					@include triangleRight;
					@include opacity(0);
					@include transform(translateX(-3px));
					-webkit-backface-visibility: hidden;

					@include breakpoint(phone) { 
						display: none;
					};
				}

				.name{
					float:left;

					@include breakpoint(phone) { 
						text-align: center;
						width: 100%;
					};

				}

				&:hover{
					//left:-30px;
					.selector{
						@include transform(translateX(0px));
						@include opacity(1);
					}

					@include breakpoint(phone) { 
						left:0px;
					};
				}

				&.hidden{
					//left:-30px;
					@include opacity(0);
					
					@include breakpoint(phone) { 
						@include opacity(1);
						left:0;
					}
				}
			}

			h5 {
				color:$gray;
			}
		}

		&#building{
			background: url("../img/backgroundBuilding.jpg") left 50%;
			background-size:cover;			
			color:white;
			//@include box-shadow(rgba(black, 0.7) 0px 0px 50px 10px inset);

			.topLine{
				width:100%;
				height:45.1%;
				display:block;
				float:left;
				@include breakpoint(phone) { 
					height:30%; 
				};
			}

			h5 {
				margin-bottom: 24px;
				font-size:22px;
			}

			#password{
				border: 1px solid white;
				background-color: transparent;
				padding: 20px 0;
				width: 250px;
				pointer-events: auto;
				text-align: center;
				font-family:"Neuzeit Grotesk T Regular";
				letter-spacing: 2px;
				color:white;
				cursor: pointer;
			}

			@import "buildingButtons";

			@include breakpoint(phone) { 
				@include background(linear-gradient(center left, #99CCCC, #03E9CC));
				height: 1600px;
			};
		}

		&#outro{
			background-color: pink;
			background: url('../img/backgroundOutro.jpg') 25% center;
			background-size: cover;
			
			@include breakpoint(phone) { 
				height:88%; 
			};

			&.hidden{
				visibility: hidden;
			}

			form{
				width:90%;
				max-width: 300px;
				display:inline-block;
				@include border-radius(0px);
			}

			#outroVid{
			    @include trans(opacity, 1000ms, ease-in-out);

				position: absolute;
				// width: 100%;
				// height: 100%;
				@include opacity(1);
				@include breakpoint(phone) { 
					display: none;
				};

				&.loading{
					@include opacity(0);
				}				
			}


			#logoWhite{
				background: url('../img/logoWhite.png') no-repeat center center;
				width:10%;
				height:50px;
				background-size:contain;
				display: inline-block;
				position: absolute;
				top: 10%;
				left:45%;
				cursor:pointer;

				@include breakpoint(phone) { 
					display: none;
				}
			}

			#email{
				border:none;
				border-bottom: 1px solid white;
				background-color: transparent;
				padding-bottom: 20px;
				width:100%;
				font-family:"Neuzeit Grotesk T Light";
				letter-spacing: 2px;
				color:white;
				font-weight: lighter;
				text-transform: uppercase;

				@include breakpoint(phone) { 
					text-align: center;
				}
			}

			#submitButton{
			    @include trans(opacity, 300ms, ease-in-out);

				// height:30px;
				// width:30px;
				display:inline-block;
				@include circle(35px);
				position: absolute;
				margin-left: -30px;
				margin-top: -9px;
				@include opacity(0.3);
				background-color:white;
				-webkit-backface-visibility: hidden;
				cursor: pointer;
				
				&.invalid{
					@include opacity(0);
					pointer-events:none;
				}

				@include breakpoint(phone) { 
					display: none;
				}

				&:hover{
					@include opacity(0.7);
				}
			}

			#arrow{
			    @include trans(opacity, 300ms, ease-in-out);

				height:35px;
				width:35px;
				display:inline-block;
				position: absolute;
				margin-left: -30px;
				margin-top: -9px;
				background: url('../img/arrow.png') no-repeat center center;
				background-size:contain;
				pointer-events:none;
				-webkit-backface-visibility: hidden;

				@include breakpoint(phone) { 
					display: none;
				}

				&.invalid{
					@include opacity(0);
				}		
			}

			#copyright{
				position: absolute;
				bottom: 20px;
				margin: auto;
				width: 100%;
				text-align: center;
				color: white;

				h5{
					font-family:"Neuzeit Grotesk T Regular";
					font-size: 12px;
				}
			}
		}
	}
}