nav{
	&#desktop{
		@include breakpoint(phone) { display:none; };
		width:60px;
		height:$navHeight;
		position:fixed;
		background-color:transparent;
		border:1px solid white;
		right:30px;
		top:50%;
		@include transform(translateY(-50%));
		z-index:10;
		box-sizing:border-box;

		&.hidden{
			right:-100px;
		}

		.hotspotContainer{
			width:100%;
			height: $navHeight - 40px;
			margin-top:20px;

			.hotspot{
				width:100%;
				height:24px;
				cursor:pointer;

				&:hover{
					.circle{
						background-color:white;
					}
				}

				.circle{
					@include circle(10px);
					background-color:$navy;
					margin: 0 auto;
					position:relative;
					top:50%;
					@include transform(translateY(-50%));

					&.active{
						background-color:white;
					}
				}	
			}
		}
	}

	&#mobile{
		@include breakpoint(phone) { display:block; };
		height: 20%;
		width:100%;
		background: url('../img/logo.png') no-repeat center center $teal;
		background-size:15%;
		position: fixed;
		top: 0px;
		z-index: 10;
		display:none;

		&.active{
			.menuLink{
				top:100%;
				position:relative;
				@include opacity(1);
			}

			#touchToggle{
				background-color:white;
				@include opacity(0.4);
			}
		}

		#touchToggle{
			width:20%;
			height:100%;
			position:absolute;
			right:0;
			background-color:transparent;
			cursor:pointer;
			z-index:11;

			&:hover{
				background-color:white;
				@include opacity(0.6);		
			}
		}

		.menuLink{
			height:100%;
			width:100%;
			position:absolute;
			background-color:white;
			box-sizing:border-box;
			border-bottom: 1px solid black;
			top:0%;
			@include opacity(0);
		}
	}
}