!!! 5
%html
	%head
		%title= "Mainframe Group"
		%meta{ :content => "MY DESCRIPTION", :name => "description" }
		%meta{ :content => "MY AUTHOR", :name => "author" }
		%meta{ :charset => "UTF-8" }
		%meta{ :name => "viewport", :content => "width=device-width" }
		%link{ :href => "./css/main.css", :media => "screen", :rel => "stylesheet" }
		%script{:type => 'text/javascript', :data => {:main => 'js/main'}, :src => 'js/require.js'}
	%body.scrollLocked.js-body
		#container.js-container
			%nav#mobile.loading
				#scrollToTop
				#touchToggle
					.lasso
						.triangle.loading
				#menuLinks
					.menuLink
						.lasso
							%h1 They Believe
					.menuLink
						.lasso
							%h1 They Are
					.menuLink
						.lasso
							%h1 They Are Building
					.menuLink
						.lasso
							%h1 Subscribe

			%nav#desktop.hidden.js-desktopNav
				.hotspotContainer
					.hotspot.js-hotspot
						.circle.js-circle.active
					.hotspot.js-hotspot
						.circle.js-circle
					.hotspot.js-hotspot
						.circle.js-circle
					.hotspot.js-hotspot
						.circle.js-circle
					.hotspot.js-hotspot
						.circle.js-circle

			#background.panelTwo.active.js-background
			#background.panelFour.js-background
			
			.panel#intro.js-panel
				.panel.introParallax.one.hidden.js-parallax.introTrans
				.panel.introParallax.two.hidden.js-parallax.introTrans
				#logo.loading.pulsing.js-logo
				.lasso.fifty.centered.hidden.introTrans.js-intro.intro
					%h1 The Mainframe Group is a brain trust of experts in music, immersive design and biometrics
			
			.panel#believe.js-panel
				/add .hidden.introTrans for dropin
				.lasso.forty.centered.hidden.introTrans.js-lasso.js-mover{ :data => { :speed => '0.25', :margin => 'top'}}
					%h2 They believe
					%h3 The live performance experience can be redefined by bringing their worlds together.
			
			.panel#theyare.js-panel
				.backing
				.backing.right
				.panelSplit
					/add for mover .js-mover{ :data => { :speed => '0.2', :margin => 'top'}}
					.lasso.eighty.centered.js-lasso.hidden.introTrans
						%h2 They are
				.panelSplit.right
					.lasso.seventyFive
						%a.hidden.js-theyAre.theyAreLink{:href => 'http://www.cantora.com', :target => '_blank'}
							.selector
							.name
								%h4 Cantora
								%h5 Tech Label
						%a.hidden.js-theyAre.theyAreLink{:href => 'http://www.hlmedialaw.com', :target => '_blank'}
							.selector
							.name	
								%h4 Hertz, Lichtenstein & Young LLC
								%h5 Entertainment Transactions
						%a.hidden.js-theyAre.theyAreLink{:href => 'http://www.namethemachine.com', :target => '_blank'}
							.selector
							.name
								%h4 [namethemachine]
								%h5 Interactive design
						%a.hidden.js-theyAre.theyAreLink{:href => 'http://www.linkedin.com/in/marcodellatorre', :target => '_blank'}
							.selector
							.name
								%h4 Marco Della Torre
								%h5 Biomedical scientist	
						%a.hidden.js-theyAre.theyAreLink{:href => 'http://www.nadeemkassam.com', :target => '_blank'}
							.selector
							.name
								%h4 Nadeem Kassam
								%h5 Biotech entrepreneur	
						%a.hidden.js-theyAre{:href => 'http://www.membrainllc.com', :target => '_blank'}
							.selector
							.name
								%h4 memBrain
								%h5 Integrated Marketing	
			
			.panel#building.js-panel
				.topLine
					.lasso.eighty.centered.js-lasso.hidden.introTrans
						%h1 They are building

				.buttonContainer
					.button.hidden.js-button
						.content.backing15
						.content.blurb
							.lasso.fifty.centered
								%h5 Nada Band
								%h6 A wearable ticket that makes sense of concert attendee’s emotional state and movement
						.content.password
							.lasso.eighty.centered
								%h5 more info
								%input#password.js-password{ :name => 'nada', :type => 'password', :placeholder => 'PASSWORD'}
					.button.hidden.js-button
						.content.backing25
						.content.blurb
							.lasso.fifty.centered
								%h5 Las Vegas 100
								%h6 An interactive recreation of the 1950s featuring a performance  by one of history’s most influential singers
						.content.password
							.lasso.eighty.centered
								%h5 more info
								%input#password.js-password{ :name => 'vegas', :type => 'password', :placeholder => 'PASSWORD'}
					.button.hidden.js-button
						.content.backing35
						.content.blurb
							.lasso.fifty.centered
								%h5 M In Motion
								%h6 A music series pairing top musicians with advanced technologies within New York’s most acclaimed museum
						.content.password
							.lasso.eighty.centered
								%h5 more info
								%input#password.js-password{ :name => 'motion', :type => 'password', :placeholder => 'PASSWORD'}
					.button.hidden.js-button
						.content.backing40
						.content.blurb
							.lasso.fifty.centered
								%h5 Mainframe Festival
								%h6 A music festival where technology is built into the DNA of the entire live environment
						.content.password
							.lasso.eighty.centered
								%h5 more info
								%input#password.js-password{ :name => 'mainframe', :type => 'password', :placeholder => 'PASSWORD'}


			.panel#outro.js-panel
				%video#outroVid{ :autoplay => '', :loop => ''}
					%source{ :src => "./vid/outro.mp4", :type => "video/mp4" }
					%source{ :src => "./vid/outro.ogg", :type => "video/mp4" }
				#logoWhite.js-mover{ :data => { :speed => '0.1', :margin => 'top'}}
				.lasso.eighty.centered.pointer.js-lasso.hidden.introTrans
					%form#js-emailForm{ :action => 'http://cantorarecords.us1.list-manage1.com/subscribe/post?u=87246aa073fcc6ed49229c80e&amp;id=6ff3a3df7d', :method => 'post', :target => '_blank', :novalidate => ''}
						%input#email{ :name => 'EMAIL', :type => 'email', :placeholder => 'GET UPDATES', :spellcheck => 'false' }
					#submitButton.invalid
					#arrow.invalid
				#copyright 
					%h5 &copy; 2013 Mainframe Group, LLC

